<div class="jumbotron" style="background-color: #343A40; color: white">
  <div class="container-fluid">
    <form action="/Restaurants" method="POST" class="font-weight-light">
      <!--餐廳名稱-->
      <div class="form-group row">
        <label for="name" class="col-form-label">餐廳名稱</label>
        <div class="col-sm-4">
          <input type="name" name="name" class="form-control" id="name" placeholder="餐廳名稱">
        </div>
      </div>
      <!--餐廳分類-->
      <div class="form-group row">
        <label for="name" class="col-form-label">餐廳分類</label>
        <div class="col-sm-4">
          <input type="name" name="category" class="form-control" id="category" placeholder="餐廳分類">
        </div>
      </div>
      <!--餐廳圖片-->
      <div class="form-group row">
        <label for="name" class="col-form-label">餐廳圖片</label>
        <div class="col-sm-4">
          <input type="name" name="image" class="form-control" id="image" placeholder="餐廳圖片">
        </div>
      </div>
      <!--餐廳地址-->
      <div class="form-group row">
        <label for="name" class="col-form-label">餐廳地址</label>
        <div class="col-sm-4">
          <input type="name" name="location" class="form-control" id="location" placeholder="餐廳地址">
        </div>
      </div>
      <!--餐廳電話-->
      <div class="form-group row">
        <label for="name" class="col-form-label">餐廳電話</label>
        <div class="col-sm-4">
          <input type="text" name="phone" class="form-control" id="phone" placeholder="餐廳電話">
        </div>
      </div>
      <!--餐廳評分-->
      <div class="form-group row">
        <label for="name" class="col-form-label">餐廳評分</label>
        <div class="col-sm-4">
          <input type="number" name="rating" class="form-control" id="rating" placeholder="餐廳評分">
        </div>
      </div>
      <!--餐廳Map-->
      <div class="form-group row">
        <label for="name" class="col-form-label">Google Map</label>
        <div class="col-sm-4">
          <input type="number" name="google_map" class="form-control" id="google_map" placeholder="Google Map">
        </div>
      </div>
      <!--餐廳簡述-->
      <div class="form-group row">
        <label for="name" class="col-form-label">餐廳簡述</label>
        <div class="col-sm-4">
          <textarea name="description" id="description" cols="42" rows="4"
            style="margin-left: 10px">{{{data.description}}}</textarea>
        </div>
      </div>


      <div>
        <a class="btn btn-secondary" style="margin: 0px 5px 0px 15px" href="/">〈 返回選單</a>
        <button type="submit" class="btn btn-secondary" id="createItem">提交</button>
      </div>

    </form>
  </div>
</div>