html, body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-color: #343a40;
}

body {
  padding: 20px;
}

.form-control {
  margin: 10px;
  max-width: 25rem;
}

.cross {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: 0.5s;
  color: #f2f4f7;
  background-color: rgba(163, 163, 163, 0.3);
  border-radius: 50%;
}
.cross:hover {
  background-color: #f2f4f7;
  color: #404142;
}

.card {
  margin: 10px;
  transition: s;
  color: #404142;
}
.card:hover {
  bottom: 5px;
  box-shadow: 0px 10px 5px 0px rgba(41, 41, 41, 0.856);
}

a {
  color: #404142;
}
.block {
  font-size: 11px;
  width: 20px;
  height: 10px;
  border: 1px solid #404142;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.block:hover {
  background-color: gray;
  color: #f2f4f7;
}

.mdb-select {
  margin-left: 10px;
}